<div style="font-family: sans-serif">
    <h1 style="color:coral;">Hello <span style="color: cadetblue"><%= username %></span></h1>
    <h4 style="color: cadetblue"><%= today.toDateString() %> at <%= today.toLocaleTimeString() %></h4>
</div>;